<app-navbar></app-navbar>

<div class="homepage">
  <div class="homepage__intro text-center">
    <div class="container">
      <h1 >
        Maryann Ramadimetja Rankapole
      </h1>
      <br>
      <br>
      <h2 class="mt-5">
          MEAN Stack developer
      </h2>

    </div>
  </div>

  <div class="homepage__body">
    <!--small space nyana yabo-->

    <div class="container">
      <div class="homepage__category">
        <div class="row">
          <div
            class="col-6 col-md-3 text-center mb-2 category"
          
          >
            <img
            src="../../../assets/images/education.png"
              width="100px"
              class="mb-2"
            />
            <br />
            <span>Cooking</span>
          </div>
          <div
            class="col-6 col-md-3 text-center mb-2 category"
      
          >
            <img
            src="../../../assets/images/education.png"
              width="100px"
              class="mb-2"
            />
            <br />
            <span>Laundry</span>
          </div>
          <div
            class="col-6 col-md-3 text-center mb-2 category"
         
          >
            <img
            src="../../../assets/images/education.png"
              width="100px"
              class="mb-2"
            />
            <br />
            <span>Web Development</span>
          </div>
          <div
            class="col-6 col-md-3 text-center mb-2 category"
          
          >
            <img
              src="../../../assets/images/education.png"
              width="100px"
              class="mb-2"
            />
            <br />
            <span>Brickwork</span>
          </div>
        </div>

        <div style="height: 5vh"></div>

<br /><br />
<br /><br />
      </div>
    </div>
  </div>
</div>