<app-navbar></app-navbar>

<!-- Introduction picture -->
<div class="homepage">
  <div class="homepage__intro text-center">
    <div class="container">
      <h1 >
        Maryann Ramadimetja Rankapole
      </h1>
      <br>
      <br>
      <h2 class="mt-5">
          MEAN Stack developer
      </h2>

    </div>
  </div>

<!-- the homepage body -->
  <div class="homepage__body">
    <!--small space nyana yabo-->
  <div class ="homepage__about_me">
  <div class="text-center mb-3">
    <h3>About me</h3>
    <hr style="width:25%;border-width: 2px;">
  </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 mt-4 animate__animated animate__fadeInLeft animate__delay-4s">
          I am a motivated student pursuing National Diploma in Information Technology specializing in Business Applications who is currently 
          doing her internship at a software company called The Digital 
          Academy.
          <br>
          <br>
          I am organized and hardworking with first-rate 
          communication and time management abilities.I am open to 
          challenges that stimulate my thinking.
          <br>
          <br>
          Moreover I am enthusiastic 
          about learning more about the IT industry and building a solid career 
          foundation in Both the business and software side of the industry.


        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 animate__animated animate__fadeInRight animate__delay-5s">
          <img src="https://images.unsplash.com/photo-1560365163-3e8d64e762ef?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjN8fHBlcnNvbiUyMHNtaWxpbmd8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60"  class="img-fluid z-depth-1">
        </div>
      </div>
    </div>
</div>

<br>
<br>

  <div class="homepage__category" >
    <div class="row">
      <div
        class="col-6 col-md-3 text-center mb-2 category"
       
      >
        <img
        src="../../../assets/images/education.png"
          width="100px"
          class="mb-2"
          (click)= toggleDisplayEducation()
        />
        <br />
        <span  (click)= toggleDisplayEducation() >Education</span>
      </div>
      <div
        class="col-6 col-md-3 text-center mb-2 category"
  
      >
        <img
        src="../../../assets/images/working-woman.png"
          width="100px"
          class="mb-2"
        />
        <br />
        <span>Work Experience</span>
      </div>
      <div
        class="col-6 col-md-3 text-center mb-2 category"
     
      >
        <img
        src="../../../assets/images/competence.png"
          width="100px"
          class="mb-2"
        />
        <br />
        <span>Soft skills</span>
      </div>
      <div
        class="col-6 col-md-3 text-center mb-2 category"
      
      >
        <img
          src="../../../assets/images/technical.png"
          width="100px"
          class="mb-2"
        />
        <br />
        <span>Technical skills</span>
      </div>
    </div>

    <div style="height: 5vh"></div>

<br /><br />
<br /><br />
  </div>



</div>

<!-- conditional features -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  
<!-- The education Timeline -->
<div class= "timeline_body" *ngIf="!isDisplay">

<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r animate__animated animate__fadeInRight animate__delay-1s">
			<div class="flag-wrapper">
				<span class="flag">Tshwane University of Technology</span>
				<span class="time-wrapper"><span class="time">2017 - present</span></span>
			</div>
			<div class="desc">My current employment. Way better than the position before!</div>
		</div>
	</li>
  
	<!-- Item 2 -->
	<li>
		<div class="direction-l animate__animated animate__fadeInLeft animate__delay-3s">
			<div class="flag-wrapper">
				<span class="flag">Apple Inc.</span>
				<span class="time-wrapper"><span class="time">2011 - 2013</span></span>
			</div>
			<div class="desc">My first employer. All the stuff I've learned and projects I've been working on.</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r  animate__animated animate__fadeInRight animate__delay-5s">
			<div class="flag-wrapper">
				<span class="flag">Harvard University</span>
				<span class="time-wrapper"><span class="time">2008 - 2011</span></span>
			</div>
			<div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
		</div>
	</li>
  
</ul>

</div>



</div>
