<div class="background">
<div class="flex-center flex-column">
   
<!-- First row of cards -->
  <div class="container">
    <div class="row">
      <div class="col align-self-start">
    <!-- Card -->
    <div class="card">
  
        <!-- Card content -->
        <div class="card-body">
      
          <!-- Title -->
          <h4 class="card-title"><a>Card title</a></h4>
          <!-- Text -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    
        </div>
      
        </div>
      <!-- Card -->
      </div>
      <div class="col align-self-center">
       <!-- Card -->
    <div class="card">
  
        <!-- Card content -->
        <div class="card-body">
      
          <!-- Title -->
          <h4 class="card-title"><a>Card title</a></h4>
          <!-- Text -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    
        </div>
      
        </div>
      <!-- Card -->
      </div>
      <div class="col align-self-end">
       <!-- Card -->
    <div class="card">
  
        <!-- Card content -->
        <div class="card-body">
      
          <!-- Title -->
          <h4 class="card-title"><a>Card title</a></h4>
          <!-- Text -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    
        </div>
      
        </div>
      <!-- Card -->
      </div>

<!-- Second row of cards -->
      <div class="container mt-5">
        <div class="row">
          <div class="col align-self-start">
        <!-- Card -->
        <div class="card">
      
            <!-- Card content -->
            <div class="card-body">
          
              <!-- Title -->
              <h4 class="card-title"><a>Card title</a></h4>
              <!-- Text -->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        
            </div>
          
            </div>
          <!-- Card -->
          </div>
          <div class="col align-self-center">
           <!-- Card -->
        <div class="card">
      
            <!-- Card content -->
            <div class="card-body">
          
              <!-- Title -->
              <h4 class="card-title"><a>Card title</a></h4>
              <!-- Text -->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        
            </div>
          
            </div>
          <!-- Card -->
          </div>
          <div class="col align-self-end">
           <!-- Card -->
        <div class="card">
      
            <!-- Card content -->
            <div class="card-body">
          
              <!-- Title -->
              <h4 class="card-title"><a>Card title</a></h4>
              <!-- Text -->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        
            </div>
          
            </div>
          <!-- Card -->
          </div>
        </div>
    </div>
<!-- End of Second row of cards -->
 </div>
    </div>



</div>
</div>